/* right-sidebar.css */

.right-sidebar {
    width: 250px;
    height: 100vh;
    background-color: #2c3e50;
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Allow scrolling if content overflows */
}

.right-sidebar-logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #ecf0f1;
}

.right-sidebar-item {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.right-sidebar-item:hover {
    background-color: #34495e;
}

.right-sidebar-item.active {
    background-color: #3498db;
    color: #fff;
}

.forecast {
    margin-top: 20px;
}

.forecast h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
    color: #ecf0f1;
}

.forecast-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.forecast-item {
    background: #34495e;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ecf0f1;
}

.forecast-item p {
    margin: 0;
}

.forecast-item .day {
    font-weight: bold;
}

.forecast-item .icon {
    font-size: 1.5em;
}

.forecast-item .temperature {
    font-size: 1.2em;
}
